/* Importando a fonte Playfair Display do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap");

/* Aplicando a fonte no body */
* {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--ivory);
  color: var(--dark-gray);
  font-family: "Playfair Display", serif;
}

:root {
  --gold-metallic: #d4af37;
  --dark-gray: #2e2e2e;
  --white: #ffffff;
  --ivory: #f5f5dc;
  --petroleum-blue: #34495e;
}
