.homepageWrapper {
  background-color: var(--ivory);
  padding: 2rem;
}

.cardWrapper {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardWrapper:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cardImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.cardBody {
  text-align: center;
  background-color: var(--white);
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--petroleum-blue);
}

.cardFooter {
  background-color: var(--white);
  text-align: end;
}

.cardButton {
  background-color: var(--gold-metallic);
  border: none;
  color: var(--white);
}

.cardButton:hover {
  background-color: var(--dark-gray);
}
